// Roboto Thin
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 100;
    src: url("../fonts/Roboto-Thin.woff2") format("woff2"),
        url("../fonts/Roboto-Thin.woff") format("woff");
}

// Roboto ExtraLight
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 200;
    src: url("../fonts/Roboto-ExtraLight.woff2") format("woff2"),
        url("../fonts/Roboto-ExtraLight.woff") format("woff");
}

// Roboto Light
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/Roboto-Light.woff2") format("woff2"),
        url("../fonts/Roboto-Light.woff") format("woff");
}

// Roboto Regular
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Roboto-Regular.woff2") format("woff2"),
        url("../fonts/Roboto-Regular.woff") format("woff");
}

// Roboto Medium
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/Roboto-Medium.woff2") format("woff2"),
        url("../fonts/Roboto-Medium.woff") format("woff");
}

// Roboto SemiBold
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/Roboto-SemiBold.woff2") format("woff2"),
        url("../fonts/Roboto-SemiBold.woff") format("woff");
}

// Roboto Bold
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/Roboto-Bold.woff2") format("woff2"),
        url("../fonts/Roboto-Bold.woff") format("woff");
}

// Roboto ExtraBold
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/Roboto-ExtraBold.woff2") format("woff2"),
        url("../fonts/Roboto-ExtraBold.woff") format("woff");
}

// Roboto Black
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    src: url("../fonts/Roboto-Black.woff2") format("woff2"),
        url("../fonts/Roboto-Black.woff") format("woff");
}
